{% extends "base.html" %}


{% block extrascripts %}
    {{ block.super }}
    <script>
        $(function () {
            $("#preferences input, #preferences select").change(function () {
                var data = {
                    csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val()
                };
                data[this.name] = $(this).val();
                $.ajax({
                    url: "{% url 'profile_preference_update' %}",
                    data: data,
                    type: "post",
                    success: function (retval) {
                        console.log(retval);
                    }
                })
            });
        });
    </script>
{% endblock extrascripts %}

{% block content %}
    <h2>Profile Preferences</h2>
    {% csrf_token %}
    <div id="preferences">
        {% for group, prefs in preferences.items %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>{{ group }}</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            {% for key, pref in prefs.items %}
                                <tr>
                                    <td>{{ pref.label }}:</td>
                                    <td>{{ pref.input }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
